---
layout: single-column-page-dark
title: How it works
subtitle: Umbrella delivers the tools your team needs
banner-type: how-it-works
---

<section id="single-column-page">
  <div class="container pb-5">
    <div class="row">
      <div class="text-center">
        <h2 class="heading mb-4 font-weight-lighter"><span class="font-weight-normal">Software</span> that makes you better
          <span class="divider-center"></span>
        </h2>
        <div class="col-md-8 offset-md-2 mb-5">
          <p>Our unique software platform provides data transparency, improved staff recruitment and retention, and automatic templates for management and government reports. You upload a range of data your organisation may already have - pay, location, gender, job listings etc. - and our app immediately gives you dashboards tailored to your business you can share with the Board, your management team or the whole staff. You now have the power to track progress and easily share information from the C-Suite to the cubicles.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-12">
        <article class="feature-box h-100">
          <div class="image">
            <img src="{{ site.url }}/images/feature-screen-1.png" alt="Video screenshot" style="height: 157px;">
            <div class="overlay center-block">
              <a class="play-button" href="#" title="Play video"><i class="fa fa-play"></i></a>
            </div>
          </div>
          <div class="feature-content">
            <p>Turn the data from your HR and Finance systems into clear, informative charts and metrics so that you and your team can understand your organisation.</p>
            <h4 class="feature-type">Visualise</h4>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12">
        <article class="feature-box h-100">
          <div class="image">
            <img src="{{ site.url }}/images/feature-screen-2.png" alt="Video screenshot" style="padding-bottom: 18px;">
            <div class="overlay center-block">
              <a class="play-button" href="#" title="Play video"><i class="fa fa-play"></i></a>
            </div>
          </div>
          <div class="feature-content">
            <p>Advanced tools to help your team write better job adverts, with word-level feedback, so you attract better candidates from more diverse backgrounds.</p>
            <h4 class="feature-type">Analyse</h4>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12">
        <article class="feature-box h-100">
          <div class="image">
            <img src="{{ site.url }}/images/feature-screen-3.png" alt="Video screenshot" style="height: 157px; padding: 0 70px;">
            <div class="overlay center-block">
              <a class="play-button" href="#" title="Play video"><i class="fa fa-play"></i></a>
            </div>
          </div>
          <div class="feature-content">
            <p>Generate standard reports for senior management teams to track progress on goals. Quickly calculate and verify your annual statutory gender pay report.</p>
            <h4 class="feature-type">Report</h4>
          </div>
        </article>
      </div>
    </div>
  </div>

  {% include _logo_lines.html %}

  <div class="container padding_top pb-5">
    <div class="row">
      <div class="text-center wow fadeIn" data-wow-delay="300ms">
        <h2 class="heading mb-4 font-weight-lighter">Give your team <span class="font-weight-normal">the tools for success</span>
          <span class="divider-center"></span>
        </h2>
        <div class="col-md-8 offset-md-2 mb-5">
          <p>You probably already have a wide range of information about your staff’s gender, pay, location, ethnicity and more. But it’s all trapped in isolated systems in HR and Finance, and can’t be compared and shared. Umbrella brings this data into the light of day, so you can understand your team and benchmark your business against industry and national standards.</p>
          <p>Our unique platform absorbs and transforms your data, enriches it, and then extracts and makes visible the insights hiding within. Clear dashboards, charts and progress meters show you who your team really are, and help you compare your performance with your past, your future and your competitors. And we can even help you reduce your carbon footprint, as a partner <a href="climate-positive.html">committed to being climate-positive</a> across our business!</p>
          <p class="mt-5"><a class="button gradient-btn" href="https://calendly.com/nancy-umbrella/30min" target="_blank">Talk to our team</a></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
        <div class="tab-to-accordion mb-5">
          <ul class="tabset-list">
            <li class="active"><a href="#tab1">Visualise</a></li>
            <li><a href="#tab2">Analyse</a></li>
            <li><a href="#tab3">Report</a></li>
          </ul>
          <div class="tab-container">
            <div id="tab1" class="row">
              <ul class="col-12 col-md-8">
                <li>Upload standard CSV files with data about pay, gender, ethnicity, location, sexuality and custom categories</li>
                <li>Dashboards immediately update to show the new information to all team members</li>
                <li>Secure by design: only the columns to specify are ever uploaded</li>
                <li>Only summary statistics are ever saved to our servers: the source data is not saved</li>
                <li>Wide range of clear visualisations to help show how fairly the team are treated</li>
                <li>Easily share current data on gender pay equality across the organisation</li>
                <li>See how different characteristics intersect and combine to advantage or disadvantage particular groups</li>
              </ul>
              <div class="col-12 col-md-4">
                <img src="{{ site.url }}/images/feature-screen-1.png" alt="">
              </div>
            </div>
            <div id="tab2" class="row">
              <ul class="col-12 col-md-8">
                <li>Upload job adverts, white papers, policy documents and more</li>
                <li>Get clear feedback on the quality of the writing</li>
                <li>Detects gender bias, and ageist, racist, ableist or homophobic language</li>
                <li>Target specific reading levels to reach the widest audience</li>
                <li>Ensure readability with international-standardised scores</li>
                <li>Each document gets an individual scorecard, with overall marks and category breakdown</li>
                <li>Specific words and phrases highlighted in documents for improvement</li>
                <li>Track document improvements over time both per-document and over your whole library</li>
                <li>Add your own words to your organisation's dictionary to avoid jargon</li>
              </ul>
              <div class="col-12 col-md-4">
                <img src="{{ site.url }}/images/feature-screen-2.png" alt="">
              </div>
            </div>
            <div id="tab3" class="row">
              <ul class="col-12 col-md-8">
                <li>Private, secure reports to share information with specific teams</li>
                <li>Share reports online or export to PDF for inclusion in wider bundles</li>
                <li>Pre-designed template for UK statutory gender-pay report</li>
                <li>Does the maths for you, quickly and dependably, based on current Government advice</li>
                <li>Pre-designed templates for ethnicity pay reports, disability pay reports and more</li>
                <li>Pre-designed templates for recruitment progress</li>
                <li>Custom templates available at additional cost, to fit your requirements</li>
              </ul>
              <div class="col-12 col-md-4">
                <img src="{{ site.url }}/images/feature-screen-3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="testimonial-grid" class="row pb-5">
      <article class="testimonial-wrapp col-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="300ms">
        <span class="quoted"><i class="fa fa-hands"></i></span>
        <div class="testimonial-text">
          <h4>Control in your hands</h4>
          <p>Umbrella Analytics makes sure your team, and the whole business, knows where they stand and how their colleagues are treated. .<br />&nbsp;</p>
        </div>
      </article>
      <article class="testimonial-wrapp col-12 col-md-6 col-lg-4 wow fadeIn" data-wow-delay="300ms">
        <span class="quoted"><i class="fa fa-cloud-upload-alt"></i></span>
        <div class="testimonial-text">
          <h4>Roll out easily</h4>
          <p>Umbrella Analytics lives in the cloud, which means there's no software to install or maintain. We provide all the training you'll need to get started. And ongoing support is part of the package. Get comprehensive help, including face-to-face or video training, documentation and in-app chat support for all users. Umbrella Analytics is independent of the recruitment or finance software you use, so can fit into any workflow.</p>
        </div>
      </article>
      <article class="testimonial-wrapp col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 wow fadeInRight" data-wow-delay="300ms">
        <span class="quoted"><i class="fa fa-user-shield"></i></span>
        <div class="testimonial-text">
          <h4>Work together securely</h4>
          <p>Control access by user and role, and use tags to target reports and dashboards for particular teams. Clearly see how people engage with no need for meetings or email chains. Support your team as they work from home or the office - with their data saved automatically to the cloud. Communicate more effectively, resolve problems earlier and better, and track changes across the life-cycle of your projects.<br />&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</section>

{% include _logo_lines.html %}
{% include _contact_form.html %}
