---
layout: index
title: Welcome
---

<section id="home-page-banner" class="container-fluid">
  <div class="outer-banner">
    <div class="row">
      <div id="hero-image" class="col-12 col-md-5 col-xl-6">
        <img src="/images/backgrounds/meditation.svg" alt="Drawing of a woman seated cross-legged with her eyes closed, surrounded by thoughts of data and charts. (By Pixeltrue from Ouch!)" class="w-100">
      </div>
      <div id="hero-text" class="col-12 col-md-7 col-xl-6">
        <div>
          <h1>Thoughtful data for real impact</h1>
          <h2>Easily measure & improve equity in your workplace</h2>
        </div>
      </div>
    </div>
    <div id="logo-lines-hero">{% include _logo_lines.html %}</div>
  </div>
</section>

<section id="key-message-boxes" class="container">
  <div class="row">
    <div class="item-box col-12 col-md-4">
      <div aria-hidden="true"><i class="bi-activity"></i></div>
      <h3>Impact</h3>
      <p>Turn your data into actionable insights for improving inclusion and equity</p>
    </div>
    <div class="item-box col-12 col-md-4">
      <div aria-hidden="true"><i class="bi-send"></i></div>
      <h3>Communicate</h3>
      <p>Ensure you write for all your people, for recruitment, retention and training</p>
    </div>
    <div class="item-box col-12 col-md-4">
      <div aria-hidden="true"><i class="bi-file-earmark-richtext"></i></div>
      <h3>Monitor</h3>
      <p>Create clear reports for senior management or government compliance</p>
    </div>
  </div>
</section>

<section id="main-message" class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="row">
        <h2 class="col-9 col-md-12">A better <span>workplace</span><br /> for your team</h2>
        <div class="col-3 d-md-none image"><img alt="Drawing of a woman creating and inspecting charts and graphs.  (By Pixeltrue from Ouch!)" src="/images/backgrounds/better-workplace.svg" class="w-100"></div>
      </div>
      <p class="mb-2">Our unique software platform was built with inclusion in mind from the start. It makes your people-data transparent, improves staff recruitment and retention, and automates management and government reports. You upload a range of data and written content your organisation already has - pay, location, gender, job listings, policies and so on - and our app gives you immediate feedback tailored to your business. Focus on the key inclusion metrics you need to track and get clear recommendations for action based on evidence of what employees want. Share your reports and insights with the Board, your management team or the whole staff. You now have the power to track progress and easily share information from the C-Suite to the cubicles!</p>
      <p class="text-center text-md-start"><a href="/contact.html" class="btn btn-secondary">Tell us what you need</a></p>
    </div>
    <div class="d-none d-md-block col-md-6 offset-md-0 col-lg-4 image">
      <img alt="Drawing of a woman creating and inspecting charts and graphs. (By Pixeltrue from Ouch!)" src="/images/backgrounds/better-workplace.svg" class="w-100">
    </div>
  </div>
</section>

<section id="features">
  {% include _logo_lines.html %}
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-12">
        <div id="feature-tagline">Modern cloud-based platform</div>
        <h2 id="feature-headline">A better <span>platform</span><br /> for your team</h2>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-6 col-12">
        <p>We help you use your data to build a more welcoming, diverse and representative workplace, so that everyone has the chance to succeed and your business can find and retain the best people. Our unique software platform gives employers and employees the support they need to understand their culture, plan for a better future and ensure their place in a fairer world.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="item-box">
          <div aria-hidden="true"><i class="bi-emoji-sunglasses"></i></div>
          <h3>Build on what you know</h3>
          <p>Our unique platform absorbs and transforms your data, enriches it, and then extracts and makes visible the insights hiding within.</p>
        </div>
        <div class="item-box">
          <div aria-hidden="true"><i class="bi-pencil-square"></i></div>
          <h3>Manage your own data</h3>
          <p>Clear dashboards, charts and score cards show you who your team really are, and compare you with your past, your future and your competitors.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 video-area">
        <div class="video-container">
          <img alt="Play product introduction video" src="/images/laptop-for-video.png">
          <!-- <a href="#" title="Play video" class="play-button" role="button" aria-label="Play video"><i class="bi-play-btn-fill"></i></a> -->
        </div>
        <p class="button-container"><a href="/how-it-works.html" class="btn btn-primary">Learn more</a></p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="item-box">
          <div aria-hidden="true"><i class="bi-chat-dots"></i></div>
          <h3>Clear communication</h3>
          <p>Ensure you're saying what you want, to the people you want. Get word-by-word feedback, score cards and track performance over time.</p>
        </div>
        <div class="item-box">
          <div aria-hidden="true"><i class="bi-shield-exclamation"></i></div>
          <h3>Control and manage</h3>
          <p>Secure by design, with role-based access control and tag-based sharing. Share the content you want, with the people you want.</p>
        </div>
      </div>
    </div>
  </div>
  {% include _logo_lines.html %}
</section>

<section id="social-purpose" class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>A better platform for <span>everyone</span></h2>
      <p>We all know that each action impacts not just us but our neighbours and ultimately the whole world. So, at Umbrella, we've committed to ensuring that our business - your partner - has a <em>positive</em> impact.</p>
      <p>That means <a href="about.html">we've written our social purpose into the Articles of our company</a> so that we acknowledge the priority to put people before profit. Our Directors therefore have a legal obligation to ensure that Umbrella's actions contribute to a better society, especially those who are minoritised or disadvantaged, rather than existing primarily to make money.</p>
      <p>That also includes wider aspects like running our workplaces on green electricity, commuting and travelling in environmentally friendly ways (whether that's cycling to the office or using video instead of flying). And it also means that we offset our unavoidable environmental impact by partnering with carbon-positive projects and through tree planting.</p>
      <p>Choosing Umbrella means that your business is moving along a path to a fairer and more sustainable future.</p>
      <!-- <p class="text-center text-lg-start"><a href="/social-purpose.html" class="btn btn-secondary">Learn more about our social purpose</a></p> -->
    </div>
    <div class="d-none d-lg-block col-lg-6 my-auto">
      <img alt="Drawing of a woman walking with a backpack and looking through a telescope. (By Pixeltrue from Ouch!)" src="/images/backgrounds/better-world.svg" width="500">
    </div>
  </div>
</section>

{% include _testimonials.html %}
{% include _contact_form.html %}
