---
layout: default
title: How much does it cost?
subtitle: Simple pricing that scales with you
banner: money
banner-alt-text: Drawing of a woman carrying a piggy bank. (By Pixeltrue from Ouch!)
---

<section id="single-column-area">
  <div class="container text-center mb-5">
    <h2 class="mb-2 fw-bold">Get started for free</h2>
    <p><strong>Free to use</strong> to generate UK statutory gender pay reports, to try out one job advert, and to access our sample data visualisations.</p>
    <p><strong>Two product strands</strong> to help you visualise your people data (pay, gender, ethnicity, sexuality etc.) and analyse how your organisation presents itself in writing (job adverts etc.). Choose just one strand or take both!</p>
    <p><strong>Subscribe from just £1 per person per year</strong>, with plans to suit all sizes of business - from individual consultants to organisations with tens of thousands of people!
    <h3 class="mt-4 fw-normal">Bundle and save!</h3>
    <p>Subscribe to both the Visualise and Analyse strands, and get <strong>25%</strong> off your total bill.</p>
  </div>

  {% include _logo_lines.html %}

  <div class="container" id="pricing-area">
    <h3>How much does it cost?</h3>
    <p>Use the price calculator to see how little Umbrella Analytics would cost you based on your size.</p>
    <div id="price-toggle-wrapper" onclick="pricingToggleButtonClicker();">
      <span id="monthly" class="pricing-toggle-button month">Pay monthly</span>
      <span id="annually" class="pricing-toggle-button year active">Pay annually</span>
    </div>
    <div id="price-volume-card">
      <p>How many people are in your business?</p>
      <div id="price-volume-wrapper">
        <form class="volume-slider">
          <input id="priceVolume" type="range" name="employees" min="500" max="5000" value="500" step="500" class="volume" onclick="priceVolumeClicker();">
        </form>
      </div>
      <p>Up to <span id="priceOutput">500</span> people</p>
    </div>
    <div id="price-table">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
          <div class="card">
            <h4>Visualise</h4>
            <p>Upload and share data</p>
            <p class="pricing-price">
              <span class="priceCaveat">From</span><span class="calculatedPrice pricing-currency"> £42</span> /<span class="pricing-duration">month</span>
            </p>
            <ul>
              <li>Up to <strong><span class="planPages">500</span></strong> employees</li>
              <li>Unlimited datasets</li>
              <li>Unlimited users</li>
              <li>Online & offline reports</li>
              <li>Training & support <sup><i class="bi-asterisk"></i></sup></li>
              <li>New features for free <sup><i class="bi-diamond"></i></sup></li>
              <li>Requires implementation pack</li>
            </ul>
            <div class="bottom-align-item">
              <a class="btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
          <div class="card">
            <h4>Analyse</h4>
            <p>Create and track documents</p>
            <p class="pricing-price"><span class="priceCaveat">From</span><span class="calculatedPrice pricing-currency"> £42</span> /<span class="pricing-duration">month</span></p>
            <ul>
              <li>Up to <strong><span class="planPages">500</span></strong> employees</li>
              <li>Unlimited job adverts</li>
              <li>Unlimited users</li>
              <li>Online & offline reports</li>
              <li>Training & support <sup><i class="bi-asterisk"></i></sup></li>
              <li>New features for free <sup><i class="bi-diamond"></i></sup></li>
              <li>Requires implementation pack</li>
            </ul>
            <div class="bottom-align-item">
              <a class="btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
          <div class="card">
            <h4>Enterprise</h4>
            <p>For larger businesses</p>
            <p class="pricing-price"><span class="pricing-currency">Contact us</span></p>
            <ul>
              <li>Everything in Visualise</li>
              <li>Everything in Analyse</li>
              <li>Enrich your data</li>
              <li>Integrate with other systems</li>
              <li>Store and work with raw data</li>
              <li>More dashboards</li>
              <li>More reports</li>
            </ul>
            <div class="bottom-align-item">
              <a class="btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card footnotes">
        <p><sup><i class="bi-asterisk"></i></sup> Additional cost may apply, depending on number of sessions and subscription level. Extra training sessions (by video) cost £100 per hour.</p>
        <p><sup><i class="bi-diamond"></i></sup> New features are delivered for free as they are developed as part of your subscription. If your team wants custom features then we charge £750-1000 a day for development work, depending on complexity.</p>
        <p>Consultancy, custom software development, advanced workflow review and migration services are available and cost from £700 per day.</p>
      </div>
    </div>
  </div>

  <div class="container" id="pricing-extras">
    <h2 class="mb-2">Small businesses and non-profits</h2>
    <p>For smaller businesses (under 250 people, and thus not required to make statutory gender-pay reports in the UK), we offer a simple all-in-one package. This includes both the Visualise and Analyse strands, with one custom dashboard and our standard (but no custom) reports, and unlimited job adverts and dataset uploads. It still includes the standard setup support and training of all our other subscriptions, and costs <strong>£39 per month</strong> (or £399 per year), plus our standard implementation charge equal to 3 months' subscription to cover setup, support and training.</p>
    <p>If you are a non-profit organisation, affinity group or network working to improve diversity, equity and inclusion in the workplace, please <a href="/contact.html">get in touch with us</a>. We're happy to offer significant discounts to groups like yours who share our mission, including free packages where we can.</p>
    <h2 class="mt-4 mb-2">Consultants</h2>
    <p>For consultants who work in diversity and inclusion for a range of clients, we offer a simple job-based package that includes a comprehensive Visualise dashboard to help you quickly and easily analyse DEI data from your clients, as well as to create charts to embed into your reports. It also includes the Analyse strand to help you analyse client texts like job adverts for bias, and report back to the client about ways to improve. Our standard reports (such as statutory gender-pay reports) are also included.</p>
    <p>Pricing for consultants is based on the size of the client datasets you are working with, as in the table above. Unlike standard accounts, Consultant accounts are paid monthly only for the months in which you upload data to the platform; there is no charge for months in which you do not upload any data. Setting up a Consultant account does, like our other account types, require a one-pff setup fee of £149. This covers your initial configuration, support and training. Please <a href="/contact.html">get in touch with us</a> to find out more or to set up your account.</p>
    <h2 class="mt-4 mb-2">Additional packs</h2>
    <h3>Implementation pack</h3>
    <p>We work with each business to implement Umbrella in the way that's right for them. All new customers must pay an implementation fee equal to 3 months' subscription, which for standard accounts includes:</p>
    <ul>
      <li>the creation of up to 3 dashboards for data visualisation (depending on size);</li>
      <li>the creation of up to 3 reports for different senior management needs (depending on size);</li>
      <li>advice on data cleaning and generation;</li>
      <li>initial kick-off meeting (by video);</li>
      <li>introduction session with the team (by video);</li>
      <li>hands-on training session with the team (by video).</li>
    </ul>
    <p>Depending on your requirements, the implementation fee may be higher than this to include options like additional dashboards and reports, custom training, and consultancy. For this work, we charge our standard custom development or consultancy rates <sup><i class="bi-diamond"></i></sup>, as appropriate.</p>
    <h3>Training pack</h3>
    <p>The training included in the Implementation Phase is enough for most teams, especially when combined with our help documentation and live support. However, if you need customised training, we can provide this private online sessions for £99 per hour. If you want us to generate a customised course around Umbrella, possibly including generalised help and support around diversity awareness, we will provide a custom quote once we know your specific needs.</p>
  </div>

  {% include _logo_lines.html %}

  <div id="faq">
    <div class="container">
      <h2>Frequently Asked <span class="fw-normal text-primary">Questions</span></h2>
      <div id="accordion">
        <div class="card">
          <div class="card-header accordion-header" id="subs">
            <a class="stretched-link accordion-button active" data-bs-toggle="collapse" data-bs-target="#subs-item" aria-expanded="true" role="button" aria-controls="subs-item">
              How do subscriptions work?
            </a>
          </div>
          <div id="subs-item" class="collapse show active" aria-labelledby="subs" data-bs-parent="#accordion">
            <div class="card-body">
              <p>To gain access to the Umbrella platform beyond the free options outlined at the top of the page, your organisation needs an active subscription. Subscriptions are based on the number of people in the organisation, and can be paid monthly or annually. Subscriptions are banded in multiples of 500: if your employee count rises from 1200 to 1400 in a period, your subscription will remain the same. Only if it crosses 1500 would it change.</p>
              <p>There are two different product strands within Umbrella: <strong>Visualise</strong> and <strong>Analyse</strong>. <strong>Visualise</strong> is all about taking your organisation's data and helping you understand your team better, through the use of charts showing how gender, ethnicity and pay (among other factors) affect each other and so where your organisation might be discriminating and need practical measures to improve. <strong>Analyse</strong> is about taking your organisation's communications and helping you understand how to reach more people, more easily and more effectively, through the use of language analysis tools that highlight where job adverts, policies etc. may unintentionally exclude people, and helping you write better, more inclusive documents.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header accordion-header" id="people">
            <a class="stretched-link accordion-button" data-bs-toggle="collapse" data-bs-target="#people-item" aria-expanded="false" role="button" aria-controls="people-item">
              What is a "person in your business"?
            </a>
          </div>
          <div id="people-item" class="collapse" aria-labelledby="people" data-bs-parent="#accordion">
            <div class="card-body">
              <p>Our subscription plans are based on the idea that cost is related directly to the size of your business. For most customers, this will be the same as the number of employees you have. It is reflected in the number of rows allowed in your datasets and the number of job advertisements run per year.</p>
              <p>For some customers, the number may be different from your employee count. For example, a publishing company may run many journals, each with an editorial board of academics from around the world; or a construction company may work with a broad list of subcontractors. If such customer wanted to be able to run an analysis of those people to see how inclusive they were, they need to include that number in their subscription.</p>
              <p>If in doubt, please do talk to us about how you intend to use the Umbrella platform and we'll be happy to work out the correct subscription for you.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="training-included">
            <a class="stretched-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#training-included-item" aria-expanded="false" role="button" aria-controls="training-included-item">
              Do you provide training?
            </a>
          </div>
          <div id="training-included-item" class="collapse" aria-labelledby="training-included" data-bs-parent="#accordion">
            <div class="card-body">
              <p>All our subscription plans include hands-on training, which we can deliver in person or by video. <strong>(At present, during the coronavirus restrictions, all training is by video only.)</strong> If you have a large team, we can provide additional or custom training sessions, as well as training-the-trainers and in-house programme development.</p>
              <p>We strongly recommend that all software deployments include an appropriate emphasis on training the teams beforehand. Although Umbrella is designed to be easy to use, all change needs suitable support and guidance. If you are a larger organisation, this is even more important, and we may include additional training in our quotes after consultation with you and your team.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="payment-method-item">
            <a class="stretched-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#payment-method" aria-expanded="false" role="button" aria-controls="payment-method">
              What payment methods do you accept?
            </a>
          </div>
          <div id="payment-method" class="collapse" aria-labelledby="payment-method-item" data-bs-parent="#accordion">
            <div class="card-body">
              <p>For monthly subscription plans, we take payment monthly by credit card or direct debit/ACH. For annual plans, we also accept payment by direct transfer to our bank account (details supplied on invoice). We do not accept payment by cheque/check under any circumstances.</p>
              <p>We send an invoice (including VAT where appropriate) before we take payment in all cases, for your records.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="item3">
              <a class="stretched-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" role="button" aria-controls="collapse3">
                What if I need more dashboards or reports?
              </a>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="item3" data-bs-parent="#accordion">
            <div class="card-body">
              <p>Your Visualise subscription includes 3 basic dashboards, which we work with you to create during the Implementation phase. If you need more, or more complex, dashboards or reports either initially or at any later time, we can create these for you subject to our standard development rates <sup><i class="bi-diamond"></i></sup>.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="item4">
              <a class="stretched-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" role="button" aria-controls="collapse4">
                How does invoicing work?
              </a>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="item4" data-bs-parent="#accordion">
            <div class="card-body">
              You will receive an invoice every month (including VAT where appropriate) and your payment will be taken automatically by your chosen method (direct debit or credit card). If we don't receive payment within 30 days of our invoice, you may lose access to the Umbrella service, so we recommend making sure your credit card or direct debit information are correct at all times.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="item5">
              <a class="stretched-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" role="button" aria-controls="collapse5">
                Can I stop my subscription?
              </a>
          </div>
          <div id="collapse5" class="collapse" aria-labelledby="item5" data-bs-parent="#accordion">
            <div class="card-body">
              All our plans renew automatically and we hope that you will be happy with the Umbrella service. However, if you do choose to leave us, just let us know at least 14 days before your next invoice is due. If you give us less notice than this, be aware that a final payment will be required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
