---
layout: default
title: How much does it cost?
subtitle: Simple pricing that scales with you
banner: money
banner-alt-text: Drawing of a woman carrying a piggy bank. (By Pixeltrue from Ouch!)
---

<section id="single-column-area">
  <div class="container text-center mb-5">
    <h2>Get started for free</h2>
    <p><strong>Free</strong> to use to generate UK statutory gender pay reports, to try out one job advert, and to access our sample data visualisations.</p>
    <h3 class="mt-4">Bundle and save</h3>
    <p>Subscribe to both the Visualise and Analyse strands, and get <strong>10%</strong> off your total bill.</strong>!</p>
  </div>

  {% include _logo_lines.html %}

  <div class="container" id="pricing-area">
    <h3>Your subscription details</h3>
    <p>Use the price calculator to see how little Umbrella Analytics would cost you based on your business size and the product strands you're interested in. These plans should suit companies from 100 to 10,000 employees, or even more.</p>
    <div class="price-toggle-wrapper">
      <span id="monthly" class="pricing-toggle-button month">Pay monthly</span>
      <span id="annually" class="pricing-toggle-button year active">Pay annually</span>
    </div>
    <div class="mt-5 price-volume-card">
      <p>How many people are in your business?</p>
      <div class="price-volume-wrapper">
        <form class="volume-slider">
          <input id="priceVolume" type="range" name="employees" min="500" max="10000" value="500" step="500" class="volume">
        </form>
      </div>
      <p><span id="priceOutput">500</span></p>
    </div>
    <h3 class="text-primary">Pick your strands</h3>
    <div class="row" id="price-table">
      <div class="item col-12 col-lg-4">
        <div class="pricing-item wow fadeInLeft animated" data-wow-delay="100ms">
          <h3 class="font-weight-light">Visualise</h3>
          <p class="mb-4">Upload and share data</p>
          <div class="pricing-price"><span class="priceCaveat">From</span><span class="calculatedPrice pricing-currency"> £39</span> /<span class="pricing-duration">month</span></div>
          <ul class="pricing-list">
            <li>Up to <strong><span class="planPages">500</span></strong> employees</li>
            <li>Unlimited datasets</li>
            <li>Unlimited users</li>
            <li>Online & offline reports</li>
            <li>Training & support <sup><i class="fa fa-sm fa-asterisk"></i></sup></li>
            <li>New features for free <sup><i class="fa fa-sm fa-plus"></i></sup></li>
            <li>Requires standard implementation pack</li>
          </ul>
          <a class="button price-btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
        </div>
      </div>
      <div class="item col-12 col-lg-4">
        <div class="pricing-item wow fadeInUp animated" data-wow-delay="300ms">
          <h3 class="font-weight-light">Analyse</h3>
          <p class="mb-4">Create and track documents</p>
          <div class="pricing-price"><span class="priceCaveat">From</span><span class="calculatedPrice pricing-currency"> £39</span> /<span class="pricing-duration">month</span></div>
          <ul class="pricing-list">
            <li>Up to <strong><span class="planPages">500</span></strong> employees</li>
            <li>Unlimited job adverts</li>
            <li>Unlimited users</li>
            <li>Online & offline reports</li>
            <li>Training & support <sup><i class="fa fa-sm fa-asterisk"></i></sup></li>
            <li>New features for free <sup><i class="fa fa-sm fa-plus"></i></sup></li>
            <li>Requires standard implementation pack</li>
          </ul>
          <a class="button price-btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
        </div>
      </div>
      <div class="item col-12 col-lg-4">
        <div class="pricing-item wow fadeInRight animated" data-wow-delay="300ms">
          <h3 class="font-weight-light">Enterprise</h3>
          <p class="mb-4">Calculate and export reports</p>
          <div class="pricing-price"><span class="pricing-currency">Contact us</span></div>
          <ul class="pricing-list">
            <li>Everything in Visualise</li>
            <li>Everything in Analyse</li>
            <li>Store and work with raw data</li>
            <li>More dashboards</li>
            <li>More chart types</li>
            <li>Custom integrations</li>
          </ul>
          <a class="button price-btn" href="https://www.umbrellaanalytics.net/">Join Umbrella</a>
        </div>
      </div>
    </div>
    <div class="pricing-item wow fadeInUp animated text-left" data-wow-delay="500ms">
      <p><sup><i class="fa fa-sm fa-asterisk"></i></sup> Additional cost may apply, depending on number of sessions and subscription level. Extra training sessions (by video) cost £100 per hour.</p>
      <p><sup><i class="fa fa-sm fa-plus"></i></sup> New features are delivered for free as they are developed as part of your subscription. If your team wants custom features then we charge £750-1000 a day for development work, depending on complexity.</p>
      <p>Consultancy, custom software development, advanced workflow review and migration services are available and cost from £700 per day.</p>
    </div>
  </div>

  {% include _logo_lines.html %}

  <div class="container">
    <div class="pt-5 wow fadeInUp animated" data-wow-delay="500ms">
      <h2 class="text-primary text-center mb-4">Additional packs</h2>
      <h3>Implementation pack</h3>
      <p>We work with each business to implement Umbrella in the way that's right for them. All new accounts must pay our standard implementation fee of £999, which includes:</p>
      <ul>
        <li>the creation of up to 3 custom dashboards for data visualisation;</li>
        <li>the creation of up to 3 custom reports for different senior management needs;</li>
        <li>advice on data cleaning and generation;</li>
        <li>initial kick-off meeting (by video);</li>
        <li>introduction session with the team (by video);</li>
        <li>hands-on training session with the team (by video).</li>
      </ul>
      <p>Depending on your requirements, the implementation fee may be higher than this to include options like additional dashboards and reports, custom training, and consultancy. For this work, we charge our standard custom development rates <sup><i class="fa fa-sm fa-plus"></i></sup> or consultancy rates <sup><i class="far fa-sm fa-star"></i></sup>, as appropriate.</p>
      <h3 class="mt-5">Training pack</h3>
      <p>The training included in the Implementation Phase is enough for most teams, especially when combined with our help documentation and live support. However, if you need customised training, we can provide this private online sessions for £100 per hour. If you want us to generate a customised course around Umbrella, possibly including generalised help and support around diversity awareness, we will provide a custom quote once we know your specific needs.</p>
    </div>
  </div>
</section>

{% include _logo_lines.html %}

<section id="ourfaq" class="position-relative padding">
  <div class="container">
    <a name="faqs"></a>
    <div class="col-md-12 text-center animated wow fadeIn" data-wow-delay="300ms">
      <h2 class="heading mb-4 font-weight-lighter">
        Frequently Asked <span class="font-weight-normal text-primary">Questions</span>
      </h2>
    </div>
    <div id="accordion">
      <div class="card item1">
        <div class="card-header" id="item1">
            <a class="card-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
              How do subscriptions work?
            </a>
        </div>
        <div id="collapse1" class="collapse show" aria-labelledby="item1" data-parent="#accordion">
          <div class="card-body">
            <p>XXXX</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="training-included">
          <a class="card-link" data-toggle="collapse" data-target="#training-included-item" aria-expanded="false" aria-controls="training-included-item">
            Do you provide training?
          </a>
        </div>
        <div id="training-included-item" class="collapse" aria-labelledby="training-included" data-parent="#accordion">
          <div class="card-body">
            <p>All our subscription plans include hands-on training, which we can deliver in person or by video. <strong>(At present, during the coronavirus restrictions, all training is by video only.)</strong> If you have a large team, we can provide additional or custom training sessions, as well as training-the-trainers and in-house programme development.</p>
            <p>We strongly recommend that all software deployments include an appropriate emphasis on training the teams beforehand. Although Umbrella is designed to be easy to use, all change needs suitable support and guidance. If you are a larger organisation, this is even more important, and we may include additional training in our quotes after consultation with you and your team.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="payment-method-item">
          <a class="card-link" data-toggle="collapse" data-target="#payment-method" aria-expanded="true" aria-controls="payment-method">
            What payment methods do you accept?
          </a>
        </div>
        <div id="payment-method" class="collapse" aria-labelledby="payment-method-item" data-parent="#accordion">
          <div class="card-body">
            <p>For monthly subscription plans, we take payment monthly by credit card or direct debit/ACH. For annual plans, we also accept payment by direct transfer to our bank account (details supplied on invoice). We do not accept payment by cheque/check under any circumstances.</p>
            <p>We send an invoice (including VAT where appropriate) before we take payment in all cases, for your records.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="item3">
            <a class="card-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
              What if I need more dashboards or reports?
            </a>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="item3" data-parent="#accordion">
          <div class="card-body">
            <p>XXXX</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="item4">
            <a class="card-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
              How does invoicing work?
            </a>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="item4" data-parent="#accordion">
          <div class="card-body">
            You will receive an invoice every month (including VAT where appropriate) and your payment will be taken automatically by your chosen method (direct debit or credit card). If we don't receive payment within 30 days of our invoice, you may lose access to the Umbrella service, so we recommend making sure your credit card or direct debit information are correct at all times.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="item5">
            <a class="card-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
              Can I stop my subscription?
            </a>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="item5" data-parent="#accordion">
          <div class="card-body">
            All our plans renew automatically and we hope that you will be happy with the Umbrella service. However, if you do choose to leave us, just let us know at least 14 days before your next invoice is due. If you give us less notice than this, be aware that a final payment will be required.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
