<script>
  function changeNavbarStyleOnScroll() {
    var startY = document.querySelector('#navbar').clientHeight; //The point where the navbar changes in px
    if (window.pageYOffset > startY) {
      document.querySelector('.navbar').classList.add("scrolled");
    } else {
      document.querySelector('.navbar').classList.remove("scrolled");
    }
  }

  function animateElementsOnPageLoad() {
    if (!!document.querySelector('#hero-image')) {
      document.querySelector('#hero-image').classList.add('loaded');
    }
    if (!!document.querySelector('#hero-text')) {
      document.querySelector('#hero-text').classList.add('loaded');
    }
    if (!!document.querySelector('#key-message-boxes')) {
      document.querySelector('#key-message-boxes').classList.add('loaded');
    }
  }

  function backToTopVisible() {
    let amountScrolled = 700;
    let backBtn = document.querySelector("a.back-top");
    if (window.pageYOffset > amountScrolled) {
      backBtn.classList.add("back-top-visible");
    } else {
      backBtn.classList.remove("back-top-visible");
    }
  }

  window.addEventListener('load', function() {
    changeNavbarStyleOnScroll();
    animateElementsOnPageLoad();
  }, false);
  window.addEventListener('scroll', function() {
    changeNavbarStyleOnScroll();
    backToTopVisible();
  }, false);
  window.addEventListener('resize', function() {
    changeNavbarStyleOnScroll();
  }, false);

  function navbarToggle() {
    document.querySelector('.offcanvas-collapse').classList.toggle('open');
    document.querySelector('.navbar-toggler-icon i').classList.toggle('bi-list');
    document.querySelector('.navbar-toggler-icon i').classList.toggle('bi-x');
  }

  function scrollBackToTop() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }

  // Pricing table
  function newSubPrice(volume) {
    let priceMultiplier = (document.querySelector('#monthly').classList.contains('active') ? 1.2 : 1);
    console.log(priceMultiplier);
    return Math.round((volume * priceMultiplier) / 12);
  }

  function changeContentOfTwoItems(collection, newContent) {
    collection[0].textContent = newContent;
    collection[1].textContent = newContent;
  }

  function changeActiveClassOfTwoItems(collection) {
    collection[0].classList.toggle('active');
    collection[1].classList.toggle('active');
  }

  function pricingToggleButtonClicker() {
    const volume = document.querySelector("#priceVolume").value;
    changeActiveClassOfTwoItems(document.querySelectorAll("#price-toggle-wrapper span"));
    const price = newSubPrice(volume);
    changeContentOfTwoItems(document.getElementsByClassName('priceCaveat'), ' ');
    changeContentOfTwoItems(document.getElementsByClassName('calculatedPrice'), "£" + price);
  }

  function priceVolumeClicker() {
    const volume = document.querySelector("#priceVolume").value;
    const price = newSubPrice(volume);
    document.querySelector('#priceOutput').textContent = volume;
    changeContentOfTwoItems(document.getElementsByClassName('priceCaveat'), ' ');
    changeContentOfTwoItems(document.getElementsByClassName('calculatedPrice'), "£" + price);
    changeContentOfTwoItems(document.getElementsByClassName('planPages'), volume);
  }
</script>
