<script>
  function checkScroll() {
    var startY = document.querySelector('#navbar').clientHeight; //The point where the navbar changes in px
    if (window.pageYOffset > startY) {
      document.querySelector('.navbar').classList.add("scrolled");
    } else {
      document.querySelector('.navbar').classList.remove("scrolled");
    }
  }

  function animateElementsOnPageLoad() {
    if (!!document.querySelector('#hero-image')) {
      document.querySelector('#hero-image').classList.add('loaded');
    }
    if (!!document.querySelector('#hero-text')) {
      document.querySelector('#hero-text').classList.add('loaded');
    }
    if (!!document.querySelector('#key-message-boxes')) {
      document.querySelector('#key-message-boxes').classList.add('loaded');
    }
  }

  window.addEventListener('load', function() {
    checkScroll();
    animateElementsOnPageLoad();
  }, false);
  window.addEventListener('scroll', function() {
    checkScroll();
  }, false);
  window.addEventListener('resize', function() {
    checkScroll();
  }, false);

  function navbarToggle() {
    document.querySelector('.offcanvas-collapse').classList.toggle('open');
    document.querySelector('.navbar-toggler-icon i').classList.toggle('bi-list');
    document.querySelector('.navbar-toggler-icon i').classList.toggle('bi-x');
  }
</script>
