  <div class="container padding">
    <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
      <h3 class="mb-4">Find out more about how we could help your team</h3>
    </div>
    <form class="getin_form wow fadeInUp" data-wow-delay="400ms" action="https://usebasin.com/f/bf394a2e8379" method="POST">
      <div class="row">
        <div class="col-md-12 col-sm-12" id="result"></div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="name" class="d-none">Name</label>
            <input class="form-control" type="text" placeholder="Name" required id="name" name="name">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="comments" class="d-none">Your company</label>
            <input class="form-control" type="text" placeholder="Company" id="comments" name="comments">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="email" class="d-none"></label>
            <input class="form-control" type="email" placeholder="Email" required id="email" name="email">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <button type="submit" class="button gradient-btn w-100" id="submit_btn">Send enquiry</button>
        </div>
      </div>
    </form>
  </div>
