<section id="contact-us">
  <div class="container">
    <h3>Find out more about how we could help your team</h3>
    <p>Send us a quick message asking to be contacted using this form, or use the full <a href="{{ site.url }}/contact.html">contact page</a> if you have specific questions.</p>
    <form action="https://usebasin.com/f/bf394a2e8379" method="POST">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="name" class="visually-hidden" name="name-label" id="name-label">Name</label>
            <input class="form-control" type="text" placeholder="Name" required name="name" aria-labelledby="name-label">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="comments" class="visually-hidden">Your company</label>
            <input class="form-control" type="text" placeholder="Company" required name="comments" id="comments">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="email" class="visually-hidden"></label>
            <input class="form-control" type="email" placeholder="Email" required id="email" name="email">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <button type="submit" class="btn btn-secondary">Send enquiry</button>
        </div>
      </div>
    </form>
  </div>
</section>
