<div class="customers content">
  <h3>Join customers large and small:</h3>
  <div class="row d-flex wrapper justify-content-center">
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.png" width="200" height="35" alt="BU-UK Last Mile Networks" style="margin-top:22px;"></a></div>
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.png" width="200" height="35" alt="BU-UK Last Mile Networks" style="margin-top:22px;"></a></div>
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.png" width="200" height="35" alt="BU-UK Last Mile Networks" style="margin-top:22px;"></a></div>
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.png" width="200" height="35" alt="BU-UK Last Mile Networks" style="margin-top:22px;"></a></div>
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.png" width="200" height="35" alt="BU-UK Last Mile Networks" style="margin-top:22px;"></a></div>
  </div>
</div>
