<footer>
  {% include _logo_lines.html %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="footer-panel">
          <a href="{{ site.url }}" class="footer_logo mb-3"><img src="{{ site.url }}/images/umbrella-logo-light.svg" alt="Umbrella Analytics logo"></a>
          <p class="text-white mb-3">Making change possible since 2019</p>
          <div>
            <a class="btn btn-primary" href="{{ site.url }}/sign-up.html">Sign up</a>
            <a class="btn btn-secondary" href="https://app.umbrellaanalytics.net/" target="_blank" rel="noopener">Sign in</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-sm-end text-lg-start">
        <ul class="links">
          <li><a href="{{ site.url }}/about.html">About us</a></li>
          <li><a href="{{ site.url }}/contact.html">Contact us</a></li>
          <li><a href="{{ site.url }}/ethics.html">Ethics</a></li>
          <li><a href="{{ site.url }}/legal.html">Legal</a></li>
          <li><a href="{{ site.url }}/privacy.html">Privacy</a></li>
          <li><a href="https://status.umbrellaanalytics.net/" target="_blank" rel="noopener">Status</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <div class="footer-panel">
          <p class="text-white mb-3">Umbrella Analytics Ltd is a company registered in England under company number 11323851 and whose registered office is at 50 Crown Street, Bury St Edmunds, Suffolk IP33 1QX, UK.</p>
          <p class="text-white mb-3">© Umbrella Analytics Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Scroll to top -->
<a href="#" class="back-top" onclick="scrollBackToTop();"><i class="bi-caret-up-fill"></i></a>
