<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta name="description" content="{{ page.description  }}">
  <meta name="author" content="Umbrella Analytics Ltd">
  <meta name="keywords" content="diversity, inclusion, analytics, data, human resources, personnel, recruitment, hiring, equity, employees, equal pay, fair pay, pay reporting" />
  <title>{{ page.title }} | Umbrella</title>
  <link rel="icon" href="{{ site.url }}/images/favicon.png" type="image/png">
  <!-- Stylesheets-->
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <script async defer data-domain="umbrellaanalytics.net" src="https://plausible.io/js/plausible.js"></script>
</head>
