<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta name="description" content="{{ page.description  }}">
  <meta name="author" content="Umbrella Analytics Ltd">
  <meta name="keywords" content="diversity, inclusion, analytics, data, human resources, personnel, recruitment, hiring, equity, employees, equal pay, fair pay, pay reporting" />
  <title>{{ page.title }} | Umbrella</title>
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="me" href="https://ruby.social/@johnpettigrew">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script async defer data-domain="umbrellaanalytics.net" src="https://plausible.io/js/plausible.js"></script>
</head>
