<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/umbrella-logo-dark.svg" alt="Umbrella Analytics logo" width="0" height="0"></a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/how-it-works.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/climate-positive.html">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/pricing.html">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ site.url }}/customers.html">Use cases</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/partners.html">Partners</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/what-data-can-we-work-with.html">What data can we work with?</a></li>
            <li><a class="dropdown-item" href="https://help.umbrellaanalytics.net" target="_blank" rel="noopener">Help and support</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/about.html">About us</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/contact.html">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle" aria-label="Open sidebar menu">
      <span></span> <span></span> <span></span>
    </a>
  </nav>

  <aside class="side-menu opacity-0 bg-secondary">
    <div class="overlay"></div>
    <div class="inner-wrapper">
      <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
      <nav class="side-nav w-100">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/how-it-works.html">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/climate-positive.html">Climate positive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/pricing.html">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages1">
              More <i class="fas fa-chevron-down"></i>
            </a>
            <div id="sideNavPages1" class="collapse sideNavPages">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/customers.html">Customer stories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/partners.html">Partners</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/what-data-can-we-work-with.html">What data can we work with?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/https://help.umbrellaanalytics.net" target="_blank" rel="noopener">Help and support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/about.html">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.url }}/contact.html">Contact us</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div id="close_side_menu" class="tooltip"></div>
</header>
