    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/umbrella-logo-light.svg" alt="Umbrella Analytics logo" width="0" height="0"></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/how-it-works.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/climate-positive.html">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/pricing.html">Pricing</a>
          </li>
          <li class="nav-item dropdown static position-relative">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.url }}/customers.html">Use cases</a>
              <a class="dropdown-item" href="{{ site.url }}/partners.html">Partners</a>
              <a class="dropdown-item" href="{{ site.url }}/what-data-can-we-work-with.html">What data can we work with?</a>
              <a class="dropdown-item" href="https://help.umbrellaanalytics.net" target="_blank" rel="noopener">Help and support</a>
              <a class="dropdown-item" href="{{ site.url }}/about.html">About us</a>
              <a class="dropdown-item" href="{{ site.url }}/contact.html">Contact us</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
