<section id="our-testimonial" class="bg-light">
  {% include _logo_lines.html %}
  <div class="container">
    <h2 class="text-center pt-5 font-weight-normal">Customers <span class="text-primary">around the UK</span></h2>
    <div id="customers-slider" class="owl-carousel mb-5">
      <div class="item">
        <div class="logo-item">
          <a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.jpg" width="150" height="59" alt="BU-UK Last Mile Networks" style="margin-top:10px;"></a>
        </div>
      </div>
      <div class="item">
        <div class="logo-item">
          <a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.jpg" width="150" height="59" alt="BU-UK Last Mile Networks" style="margin-top:10px;"></a>
        </div>
      </div>
      <div class="item">
        <div class="logo-item">
          <a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.jpg" width="150" height="59" alt="BU-UK Last Mile Networks" style="margin-top:10px;"></a>
        </div>
      </div>
      <div class="item">
        <div class="logo-item">
          <a href="https://www.bu-uk.co.uk/"><img src="{{ site.url }}/images/customers-users/customer_logo_buuk.jpg" width="150" height="59" alt="BU-UK Last Mile Networks" style="margin-top:10px;"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax page-header testimonial-header">
    <div class="container text-center">
      <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
        <h2 class="text-white font-weight-bold">Loved <span class="text-white font-weight-normal">by employees, HR teams & senior management</span></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="testimonial-slider" class="owl-carousel pb-2 mb-5">
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="{{ site.url }}/images/customers-users/user-louise-lillingstone.jpg" alt="Louise Lillingstone headshot">
            </div>
            <h4 class="text-primary font-weight-light mt-5"><a href="#.">Louise Lillingstone</a></h4>
            <p class="job-title">JOB TITLE, BU-UK, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center testimonial-text">
            <p>❝SOMETHING VERY NICE ABOUT US.❞</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="{{ site.url }}/images/customers-users/user-louise-lillingstone.jpg" alt="Louise Lillingstone headshot">
            </div>
            <h4 class="text-primary font-weight-light mt-5"><a href="#.">Louise Lillingstone</a></h4>
            <p class="job-title">JOB TITLE, BU-UK, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center testimonial-text">
            <p>❝SOMETHING VERY NICE ABOUT US.❞</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="{{ site.url }}/images/customers-users/user-louise-lillingstone.jpg" alt="Louise Lillingstone headshot">
            </div>
            <h4 class="text-primary font-weight-light mt-5"><a href="#.">Louise Lillingstone</a></h4>
            <p class="job-title">JOB TITLE, BU-UK, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center testimonial-text">
            <p>❝SOMETHING VERY NICE ABOUT US.❞</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="{{ site.url }}/images/customers-users/user-louise-lillingstone.jpg" alt="Louise Lillingstone headshot">
            </div>
            <h4 class="text-primary font-weight-light mt-5"><a href="#.">Louise Lillingstone</a></h4>
            <p class="job-title">JOB TITLE, BU-UK, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center testimonial-text">
            <p>❝SOMETHING VERY NICE ABOUT US.❞</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include _logo_lines.html %}
</section>
