body {
  font-family: $font-family-body;
  font-size: $font-size-base;
  font-weight: normal;
  color: $dark;
  overflow-x: hidden;
  direction: ltr;
  line-height: 1.5;
  letter-spacing: 0;
  padding-top: 80px;

  ::selection {
    background: $primary !important;
    opacity: 0.63;
    color: $white;
  }

  a,
  a:focus,
  a:hover {
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  button:active,
  button:focus,
  input:active,
  input:focus {
    outline: none;
    box-shadow: none;
  }

  small {
    font-size: 60%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-heading;
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  hr {
    &.logo-lines {
      border: 5px solid $dark;
      border-bottom: 0;
      margin: 5px 0 0 0;
      opacity: 1;

      &.border-first {
        border-color: $red;
      }

      &.border-second {
        border-color: $orange;
      }

      &.border-third {
        border-color: $green;
      }
    }
  }

  img {
    width: 100%;
  }
}

nav.navbar {
  width: 100vw;
  height: $navbar-height;
  background-color: $dark;
  @include transition-general;

  &.scrolled {
    background-color: $white;
    box-shadow: 0 -25px 30px 20px $dark;

    .navbar-brand {
      background-image: url($image-path + 'umbrella-logo-dark.svg');
    }

    .navbar-toggler {
      color: $dark;
    }

    ul.navbar-nav {
      color: $dark;

      li {
        a {
          color: $dark;
          border-bottom: 3px solid $white;;
        }

        ul.dropdown-menu {
          li {
            a.dropdown-item {
              color: $white;
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    margin: 10px 0;
    padding: 0;
    width: 200px;
    height: 40px;
    min-width: 200px;
    min-height: 40px;
    background-image: url($image-path + 'umbrella-logo-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    @include transition-general;
  }

  .navbar-toggler {
    color: $white;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  ul.navbar-nav {
    margin-left: auto;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    li {
      padding: 0 10px;

      a {
        color: $white;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 3px solid $dark;;
        @include transition-general;

        &:hover {
          border-color: $primary;
        }
      }

      ul.dropdown-menu {
        padding: 0;

        li {
          width: 100%;
          padding: 0;

          a.dropdown-item {
            color: $dark;
            width: 100%;
            border: none;

            &:first-of-type {
              border-radius: $dropdown-border-radius;
            }
          }
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    .offcanvas-collapse {
      position: fixed;
      top: $navbar-height;
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: $secondary;
      @include transition-general;

      &.open {
        visibility: visible;
        transform: translateX(-100%);
      }

      ul.navbar-nav {
        margin-left: auto;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: 1.8rem;
        line-height: 2.1rem;
        padding: 80px 0;

        li {
          padding: 0 30px;
          text-align: right;

          a {
            border-bottom: none;

            &:hover {
              background-color: inherit;
              text-decoration: underline;
            }
          }

          ul.dropdown-menu {
            padding: 0;
            background-color: inherit;
            border: none;
            font-size: 1.5rem;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            li {
              width: 100%;
              padding: 0;


              a.dropdown-item {
                color: $white;
                width: 100%;

                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}

#main-banner-area {
  background-color: $dark;
  padding: 0;

  .outer-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div#hero-image, div#hero-text  {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - #{$navbar-height + $logolines-height});
      padding: 0;
    }

    div#hero-text {
      h1 {
        color: $white;
        text-align: center;
      }

      h2 {
        color: $white;
        text-align: center;
        font-size: 2.5rem;
        font-weight: normal;
      }

      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        min-height: 50vh;
      }
    }
  }
}

#key-message-boxes {
  position: relative;
  top: 60px;
  @include transition-general;
  display: flex;
  justify-content: center;

  &.loaded {
    top: -150px;

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      & {
        top: -75px;
      }
    }
  }

  & > .row {
    max-width: 80%;
    align-items: center;

    @media (max-width: map-get($grid-breakpoints, 'xl')) {
      & {
        max-width: 100%;
      }
    }

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      & {
        max-width: 80%;
      }
    }

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      & {
        max-width: 100%;
      }
    }
  }

  .key-message-box {
    background-color: $brown;
    min-height: 250px;
    max-height: 250px;
    color: $white;
    text-align: center;
    padding: 30px;

    &:nth-of-type(2) {
      background-color: $primary;
      min-height: 300px;
      padding-top: 52px;
    }

    & > div {
      max-height: 72px;
      @include transition-general;

        & > i {
        display: inline-block;
        top: 0;
        position: relative;
        font-size: 3rem;
        @include transition-general;
      }
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    &:hover {
      & > div {
          &> i {
          top: -0.3rem;
          font-size: 3.6rem;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      & {
        min-height: 150px;
      }
    }
  }
}
