$white: #ffffff;
$black: #1c1c1b;
$red: #ff6a5a;
$green: #73c8a9;
$blue: #6a8daa;
$orange: #ffb350;
$brown: #8E6A49;

$light: #d2d3db;
$mid-gray: #9a9bad;
$dark-gray: #65667c;
$dark: #373844;

$primary: $green;
$secondary: $orange;
$tertiary: $dark;
$info: $blue;

$mid-primary: lighten($primary, 10%);
$mid-secondary: lighten($secondary, 10%);
$light-primary: lighten($primary, 25%);
$light-secondary: lighten($secondary, 25%);

$font-size-base: 1rem;

$logolines-height: 30px;
$navbar-height: 70px;

// Fonts
@font-face {
  font-family: 'Futura';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url($font-path + 'futura-book.woff2') format('woff2'), url($font-path + 'futura-book.woff') format('woff')
}
@font-face {
  font-family: 'Futura Italic';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url($font-path + 'futura-book-oblique.woff2') format('woff2'), url($font-path + 'futura-book-oblique.woff') format('woff')
}
@font-face {
  font-family: 'Futura Bold';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url($font-path + 'futura-demi.woff2') format('woff2'), url($font-path + 'futura-demi.woff') format('woff')
}
@font-face {
  font-family: 'Futura Bold Italic';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url($font-path + 'futura-demi-oblique.woff2') format('woff2'), url($font-path + 'futura-demi-oblique.woff') format('woff')
}
@font-face {
  font-family: 'Mont';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url($font-path + 'mont-semi-bold.woff2') format('woff2'), url($font-path + 'mont-semi-bold.woff') format('woff')
}
@font-face {
  font-family: 'Mont';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url($font-path + 'mont-heavy.woff2') format('woff2'), url($font-path + 'mont-heavy.woff') format('woff')
}

$font-family-body: Futura, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-heading: Mont, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

// Mixins

@mixin text-with-2px-dark-shadow {
  text-shadow: 0 0 2px $dark;
}

@mixin transition-general {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin background-gradient-primary {
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from($primary), color-stop(51%, $mid-primary), to($primary));
  background-image: -webkit-linear-gradient(left, $primary 0%, $mid-primary 51%, $primary 100%);
  background-image: -moz-linear-gradient(left, $primary 0%, $mid-primary 51%, $primary 100%);
  background-image: -o-linear-gradient(left, $primary 0%, $mid-primary 51%, $primary 100%);
  background-image: linear-gradient(to right, $primary 0%, $mid-primary 51%, $primary 100%);
}

@mixin background-gradient-secondary {
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from($secondary), color-stop(51%, $mid-secondary), to($secondary));
  background-image: -webkit-linear-gradient(left, $secondary 0%, $mid-secondary 51%, $secondary 100%);
  background-image: -moz-linear-gradient(left, $secondary 0%, $mid-secondary 51%, $secondary 100%);
  background-image: -o-linear-gradient(left, $secondary 0%, $mid-secondary 51%, $secondary 100%);
  background-image: linear-gradient(to right, $secondary 0%, $mid-secondary 51%, $secondary 100%);
}
