<!DOCTYPE html>
  <html lang="{{ site.lang | default: "en-GB" }}">
  {% include _head.html %}

  <body>
    {% include _navbar.html %}

    <section id="main-page">
      <div class="container">
        <div class="row">
          <div class="d-none d-lg-block col-lg-3">
            <img src="{{ site.url }}/images/backgrounds/{{ page.banner }}.svg" alt="{{ page.banner-alt-text }}" class="w-100">
          </div>
          <div class="col-9">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
          </div>
        </div>
        <ul class="breadcrumb">
          <li><strong><a href="{{ site.url }}">Home</a></strong></li>
          <li>{{ page.title }}</li>
        </ul>
      </div>
    </section>

    {{ content}}

    {% include _footer.html %}
  </body>
</html>
