<!DOCTYPE html>
  <html lang="{{ site.lang | default: "en-GB" }}">
  {% include _head.html %}

  <body>
    {% include _navbar.html %}

    <section id="main-banner-page">
      <div class="container">
        <div class="row">
          <div class="d-none d-lg-block col-lg-3">
            <img src="{{ site.url }}/images/backgrounds/{{ page.banner }}.svg" alt="Drawing of a woman seated cross-legged with her eyes closed, surrounded by thoughts of data and charts.">
          </div>
          <div class="col-9">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
          </div>
        </div>
        <div class="breadcrumb">
          <h3>{{ page.title }}</h3>
          <ul>
            <li><strong><a href="{{ site.url }}">Home</a></strong></li>
            <li>{{ page.title }}</li>
          </ul>
        </div>
      </div>
    </section>

    {{ content}}

    {% include _footer.html %}
  </body>
</html>
